// Fonts
$-f-manrope: 'Manrope', sans-serif;
// Colors
$-c-soft-cyan: hsl(174, 77%, 80%);
$-c-strong-cyan: hsl(174, 86%, 45%);
$-c-gray-red: hsl(14, 92%, 95%);
$-c-light-red: hsl(15, 100%, 70%);
$-c-pale-blue-alpha: hsl(226, 100%, 87%);

$-c-white: hsl(0, 0%, 100%);
$-c-pale-blue-beta: hsl(230, 100%, 99%);
$-c-gray-blue-alpha: hsl(224, 65%, 95%);
$-c-gray-blue-beta: hsl(223, 50%, 87%);
$-c-gray-blue-charlie: hsl(225, 20%, 60%);
$-c-dark-blue: hsl(227, 35%, 25%);

body {
    margin: 0;
    font-family: $-f-manrope;
    font-size: 15px;
    font-weight: 600;
    background: no-repeat url(./images/bg-pattern.svg), $-c-pale-blue-beta;
    text-align: center;
}

header {
    background: 50% 50% / 150px no-repeat url(./images/pattern-circles.svg);
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 25px 0 10px;
    h1 {
        font-size: 20px;
        color: $-c-dark-blue;
        margin: 0;
    }
    p {
        font-size: 13px;
        padding: 0 100px;
        color: $-c-gray-blue-charlie;
        margin-bottom: 10px;
    }
}

main {
    margin: 0 25px;
    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $-c-white;
        border-radius: 10px;
        padding: 25px;
        max-width: 500px;
        margin: 0 auto;
        box-shadow: 0px 20px 50px -46px $-c-dark-blue;
        .pricing {
            width: 100%;
        }
        h3 {
            font-size: 12px;
            color: $-c-gray-blue-charlie;
            letter-spacing: 1px;
            text-transform: uppercase;
            margin-bottom: 30px;
        }
        input[type=range] {
            width: 100%;
            -webkit-appearance: none;
            &::-webkit-slider-runnable-track {
                width: 100%;
                height: 8px;
                background: $-c-gray-blue-alpha;
                border: none;
                border-radius: 4px;
            }
            &::-webkit-slider-thumb {
                -webkit-appearance: none;
                border: none;
                height: 40px;
                width: 40px;
                border-radius: 50%;
                background: center / 24px no-repeat url(./images/icon-slider.svg), $-c-strong-cyan;
                margin-top: -15px;
                box-shadow: 0px 10px 35px -3px $-c-strong-cyan;
            }
            &:focus {
                outline: none;
            }
            &:focus::-webkit-slider-runnable-track {
                background: $-c-gray-blue-alpha;
            }
        }
        h2 {
            font-size: 14px;
            color: $-c-gray-blue-charlie;
            margin-top: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 600;
            span {
                font-size: 30px;
                color: $-c-dark-blue;
                margin-right: 5px;
                font-weight: 800;
            }
        }
        .billing {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            margin: 15px 0;
            width: 275px;
            .switch {
                margin: 5px 10px 0;
                position: relative;
                display: inline-block;
                width: 40px;
                height: 22px;
                input {
                    opacity: 0;
                    width: 0;
                    height: 0;
                }
                input:checked + .slider {
                    background-color: $-c-strong-cyan;
                }
                input:checked + .slider:before {
                    transform: translateX(18px);
                  }
                .slider {
                    position: absolute;
                    cursor: pointer;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-color: $-c-gray-blue-beta;
                    transition: .4s;
                    border-radius: 21px;
                    &:before {
                        position: absolute;
                        content: "";
                        height: 14px;
                        width: 14px;
                        left: 4px;
                        bottom: 4px;
                        background-color: $-c-white;
                        transition: .4s;
                        border-radius: 50%;
                      }
                }
            }
            span {
                font-size: 12px;
                color: $-c-gray-blue-charlie;
                .discount-badge {
                    display: inline;
                    position: absolute;
                    right: -15px;
                    background-color: $-c-gray-red;
                    color: $-c-light-red;
                    font-size: 10px;
                    font-weight: 800;
                    padding: 2px 8px;
                    border-radius: 9px;
                }
            }
        }
        p {
            font-size: 13px;
            color: $-c-gray-blue-charlie;
            margin: 6px 0 0;
            &::before {
                content: url(./images/icon-check.svg);
                margin-right: 15px;
            }
        }
        button {
            background-color: $-c-dark-blue;
            border: none;
            font-family: $-f-manrope;
            font-size: 13px;
            color: $-c-gray-blue-beta;
            width: 180px;
            height: 40px;
            border-radius: 20px;
            margin: 30px 0 5px;
            &:hover {
                cursor: pointer;
            }
        }
    }
}

.hide {
    display: none;
}

.divider {
    background-color: $-c-gray-blue-alpha;
    height: 1px;
    width: 100%;
    margin: 25px 0 25px 0;
    padding-right: 50px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    .attribution {
        margin-bottom: 10px;
        font-size: 11px;
        text-align: center;
        a {
            color: hsl(228, 45%, 44%);
        }
    }
}

@media screen and (min-width: 650px) {
    header {
        h1 {
            font-size: 28px;
        }
        p {
            font-size: 15px;
            margin: 10px 0;
        }
    }

    main {
        margin: 0;
        .card {
            padding: 25px 50px;
            .pricing {
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;
                margin-top: 25px;
                width: 100%;
            }
            h3 {
                font-size: 15px;
                margin: 0;
            }
            h2 {
                margin: 0;
                span {
                    font-size: 36px;
                }
            }
            input {
                order: 1;
                margin: 40px 0;
            }
            .billing {
                span {
                    .discount-badge {
                        right: -75px;
                        span {
                            display: initial;
                            color: $-c-light-red;
                        }
                    }
                }
            }
            .card-footer {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 475px;
                .info {
                    margin-bottom: 6px;
                    p {
                        text-align: left;
                    }
                }
                button {
                    margin: 0;
                }
            }
        }
    }
}